{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid py-5">
    <form method="post">
        {% csrf_token %}

        <h2>Select your favourite topics</h2>
        {% for choice in form.topics %}
        <div class="form-check">
            {{ choice.tag }}
            <label class="form-check-label" for="{{ choice.id_for_label }}">
                {{ choice.choice_label }}
            </label>
        </div>
        {% endfor %}
        
        <h2 class="mt-5">Select your dream job</h2>
        <select class="form-control" name="{{ form.dream_job.name }}">
            {% for choice in form.dream_job %}
            <option value="{{ choice.data.value }}" {% if choice.data.selected %}selected{% endif %}>
                {{ choice.choice_label }}
            </option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-primary mt-4">Submit</button>
    </form>
</div>

{% endblock content %}