{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action">My wishlist</a>
                <a href="#" class="list-group-item list-group-item-action">Completed Courses</a>
                <a href="#" class="list-group-item list-group-item-action">Account Settings</a>
            </div>
        </div>

        <div class="col-9">
            <h1>Welcome to your dashboard</h1>
            <p>Here's a summary of your progress:</p>

            <div class="row">
                 {% for course in courses %}
                <div class="col-sm-5 m-2 p-2">
                    <div class="card">
                        <div class="card-body">
                            {% if  course.website == 'udemy'%}
                                <a href="https://udemy.com{{ course.course_url }}"><h5 class="card-title">{{ course.course_name }}</h5></a>
                            {% else %}
                                <a href="{{ course.course_url }}"><h5 class="card-title">{{ course.course_name }}</h5></a>
                            {% endif %}
                            <p class="card-text">{{ course.website | capfirst }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock content %}
