{% extends 'base.html' %}

{% load static %}

{% block content %}

{% load extra_filters %}

<style>

    .bottom-right-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    /* Create stars */
    .star {
        font-size: 2em;
        color: #ccc;
    }
    /* Color stars */
    .star.gold {
        color: #E6B600;
    }

    .heart-icon {
        color: grey;
    }
    
    .heart-icon.filled {
        color: red;
    }    

</style>

<link rel="stylesheet" href="{% static 'css/modal-config.css' %}">

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a href="{% url 'dashboard:dashboard' %}" class="list-group-item list-group-item-action {% if type is None %}active{% endif %}">Dashboard</a>
                <a href="{% url 'dashboard:filter_courses' 'mycourses' %}" class="list-group-item list-group-item-action {% if type == 'mycourses' %}active{% endif %}">Filter by My Courses</a>
                <a href="{% url 'dashboard:filter_courses' 'wishlist' %}" class="list-group-item list-group-item-action {% if type == 'wishlist' %}active{% endif %}">Filter by My Wishlist</a>
                <a href="{% url 'dashboard:filter_courses' 'preferences' %}" class="list-group-item list-group-item-action {% if type == 'preferences' %}active{% endif %}">Filter by My Preferences</a>
                <a href="#" id="filter_keyword" class="list-group-item list-group-item-action {% if type == 'keyword' %}active{% endif %}">Filter by Keyword</a>
                <input type="text" id="keyword_input" class="form-control" placeholder="Enter keyword" style="display: none; margin-top: 5px;">
            </div>
        </div>
        {% csrf_token %}
        <div class="col-9">
            <h1>Welcome to your dashboard</h1>
            {% if course|length != 0 %}
                <span>These are the recommended courses for you:</span>
            {% endif %}

            <div class="row">
                 {% for course in courses %}
                <div class="col-sm-5 m-2 p-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                            <div class="col-md-11">
                            {% if user.is_authenticated %}
                                <a href="{% url 'dashboard:course_detail' course_id=course.id %}"><h5 class="card-title">{{ course.course_name }}</h5></a>
                            {% else %}
                                {% if course.website == 'udemy' %}
                                    <a href="https://udemy.com{{ course.course_url }}"><h5 class="card-title">{{ course.course_name }}</h5></a>
                                {% else %}
                                    <a href="{{course.course_url}}"><h5 class="card-title">{{ course.course_name }}</h5></a>
                                {% endif %}
                            {% endif %}
                            <p class="card-text">{{ course.website | capfirst }}</span>
                            <br>
                            {% if course.rating %}
                                {% for i in course.rating|times %}
                                    <span class="star gold">&#9733;</span>
                                {% endfor %}
                                <!-- Generate unfilled stars -->
                                {% for i in course.rating|range_to %}
                                    <span class="star">&#9733;</span>
                                {% endfor %}
                            {% endif %}
                            </div>
                            <div class="col-md-1">
                                {% if user.is_authenticated %}
                                    {% if myCourses is None %}
                                        <a href="#" class="float-end"><i id="my-course{{course.id}}" class="fa fa-2x fa-plus-circle" aria-hidden="true" onclick="toggleMyCourses({{ course.id }})"></i></a>
                                    {% elif course.id not in myCourses.course_ids %}
                                        <a href="#" class="float-end"><i id="my-course{{course.id}}" class="fa fa-2x fa-plus-circle" aria-hidden="true" onclick="toggleMyCourses({{ course.id }})"></i></a>
                                    {% else %}
                                        <a href="#" class="my-course float-end"><i id="my-course{{course.id}}" class="fa fa-2x fa-times" aria-hidden="true" onclick="toggleMyCourses({{ course.id }})"></i></a>
                                    {% endif %}
                                    <br><br>
                                    {% if course.id in wishlist.course_ids %}
                                        <a href="#"><i class="fa fa-2x fa-heart float-end heart-icon filled" id="heart{{ course.id }}" onclick="toggleWishlist({{ course.id }})"></i></a>
                                    {% else %}
                                        <a href="#"><i class="fa fa-2x fa-heart float-end heart-icon" id="heart{{ course.id }}" onclick="toggleWishlist({{ course.id }})"></i></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">No recommendations</h4>
                        {% if type == 'mycourses' and myCourses is None %}
                            <p>Please add some courses first .</p>
                        {% elif type == 'wishlist' or wishlist is None and wishlist.recommended_courses|length == 0 %}
                            <p>Please add some courses to wishlist first.</p>
                        {% else %}
                            <p>Unfortunately, we do not have any recommendations for you.</p>
                            <hr>
                            <p class="mb-0">Please check back after some time.</p>
                        {% endif %}
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="bottom-right-button">
    <button class="btn chat-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="openModal" style="border-radius: 30%; border: 1px solid;">
        <img src="{% static 'robot.png' %}" alt="chat" width="50px" height="50px">
    </buton>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content modal-additional">
            <div class="modal-header">
                <div class="row">
                    <div class="col-3">
                        <img src="{% static 'robot.png' %}" alt="chat" width="50px" height="50px">
                    </div>
                    <div class="offset-1 col-4">
                        <h5 class="modal-title" id="staticBackdropLabel">ChatBot</h5>
                    </div>
                    <div class="close float-right">
                        <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="background: rgb(234, 238, 243);">
                <div class="text-start">
                    <span>Chatbot</span>
                </div>
                <div class="bot-response">
                    <span>Hi, I am your personal assistant. What can I help you with?</span>
                </div>
                <br>
                <div class="bot-response">
                    <span>I can help you with finding the right course for you.</span>
                </div>
                <br>
                <div class="bot-response">
                    <span>Please provide the keyword for your course in 2-3 words.</span>
                </div>
                <br>
                <br>
            </div>
            <div class="modal-footer">
                <div class="input-group mb-2">
                    <form id="chatForm" class="form-inline w-100 d-flex">
                        <input type="text" id="message-field" class="form-control me-1" placeholder="Type your message here" aria-label="Recipient's username" aria-describedby="send-button">
                        <button class="btn btn-outline-secondary" type="button" id="send-button">
                            Send
                        </button>
                    </form>
                </div>
                <div class="text-center px-2">
                    <span>Powered by <a href="chat.openai.com">ChatGPT</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

        $("#filter_keyword").on("click", function(e){
            e.preventDefault();
            $("#keyword_input").toggle();
        });

        $("#keyword_input").on("keypress", function(e){
            if(e.which == 13) {
                let keyword = $(this).val();
                let new_url = "{% url 'dashboard:filter_courses' 'keyword' %}" + "/" + keyword;
                window.location.href = new_url;
            }
        });

        document.querySelector('#chatForm').addEventListener('submit', function(e) {
            e.preventDefault();
            let sendButton = document.querySelector('#send-button');
            if (sendButton.innerHTML.includes('spinner')) {
                return;
            }
            sendButton.innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`;
            sendButton.setAttribute('disabled', 'true');
            var message = $("#message-field").val();
            $("#message-field").val("");
            sendMessage(message);
        });
        
        document.querySelector('#send-button').addEventListener('click', function(e) {
            e.preventDefault();
            let sendButton = document.querySelector('#send-button');
            sendButton.innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`;
            sendButton.setAttribute('disabled', 'true');
            var message = $("#message-field").val();
            $("#message-field").val("");
            sendMessage(message);
        });
    });

    function addUserResponse(message) {
        $(".modal-body").append('<div class="text-end"><span>You</span></div><br><div class="user-message"><span>' + message + '</span></div><br>');
    }

    function addBotTag() {
        $(".modal-body").append('<div class="text-start"><span>Chatbot</span></div><br>');
    }
    function addBotResponse(message) {
        $(".modal-body").append('<div class="bot-response"><span>' + message + '</span></div><br>');
        $(".modal-body").append('<div class="bot-response"><span>Please provide the keyword for your next course search in 2-3 words.</span></div><br>');
    }
    function scrollToBottom() {
        const myModal = document.querySelector('.modal');
        const modalBody = myModal.querySelector('.modal-body');
        modalBody.scrollTop = modalBody.scrollHeight;
    }

    function sendMessage(message) {
        addUserResponse(message);
        scrollToBottom();
        fetch("{% url 'dashboard:chat' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({'message': message, 'csrfmiddlewaretoken': '{{ csrf_token }}'})
        })
        .then(response => response.json())
        .then(data => {
            addBotTag();
            if (data.courses) {
                response = 'Here are some courses that might interest you:<br><ul>';
                // Display the courses as clickable links
                for (var i = 0; i < data.courses.length; i++) {
                    var course = data.courses[i];
                    response += '<li><a href="' + course.link + '">' + course.name + '</a><br></li>';
                }
                response += '</ul>';
                addBotResponse(response);
            } else {
                // Display the assistant's message in the chat box
                addBotResponse(data.message);
            }
            scrollToBottom();
            let sendButton = document.querySelector('#send-button');
            sendButton.innerHTML = `Send`;
            sendButton.removeAttribute('disabled');
        })
        .catch(error => {
            console.log(error);
            addBotTag();
            addBotResponse("Sorry, I didn't understand that. Please try again.");
            let sendButton = document.querySelector('#send-button');
            sendButton.innerHTML = `Send`;
            sendButton.removeAttribute('disabled');
        });
        
    }

    function toggleWishlist(courseId) {
        var heart = document.getElementById('heart' + courseId);
        var url = "/wishlist/add_remove/" + courseId;
    
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == 'added') {
                heart.classList.add('filled');
            } else if (data.status == 'removed') {
                heart.classList.remove('filled');
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }    
    
    function toggleMyCourses(courseId) {
        var url = "/my_courses/add/" + courseId;
        var course = document.getElementById('my-course' + courseId);
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == 'added') {
                course.classList.remove('fa-plus-circle');
                course.classList.add('fa-times');
            } else if (data.status == 'removed') {
                course.classList.add('fa-plus-circle');
                course.classList.remove('fa-times');
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    } 

</script>

{% endblock content %}
